@model ArtGalleryExhibition.Models.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fancy Arts Exhibition Hall</h1>
    <p>Art Made For High Society</p>

</div>

<div style="display: flex;" class="justify-content-center">
    <div class="text-center mx-5">
        <h3 class="">Todays Featured Artists</h3>
        <div class="border overflow-hidden" style="display: flex;">
            @foreach (var item in Model.artists)
            {
                if (item.isFeatured)
                {

                    <div class="my-3 mx-2 p-2">
                        <p>@Html.DisplayFor(modelItem => item.Name)</p>
                    </div>
                }
            }
            </td>
        </div>
    </div>

    <div class="text-center mx-5">
        <h3>Popular Artworks</h3>
        <div class="border overflow-hidden" style="display: flex;">
            @foreach (var item in Model.artworks)
            {
                if(item.isFeatured.HasValue.Equals(true))
                {
                    <div class="m-3">
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" height="250" /><br />
                        <a asp-controller="Artworks" asp-action="Details" asp-route-id="@item.ID" style="text-decoration-line: none;">@Html.DisplayFor(modelItem => item.Title)</a>
                    </div>
                }
                
            }
        </div>
    </div>

</div>
<div style="display: flex;" class="justify-content-center   ">

    <div class="text-center mt-5 mx-5">
        <h3>Ongoing Exhibits</h3>
        <div class="border overflow-hidden" style="display: flex;">
            @foreach (var item in Model.exhibitions)
            {
                if (item.currentlyRunning)
                {
                    <a href="@Url.Action("Details", "Exhibitions", new { id = item.ID })" style="text-decoration: none;" class="text-black">
                        <div class="m-3 border">
                            <p>Starts: @Html.DisplayFor(modelItem => item.StartDate)</p>
                            <p>Ends: @Html.DisplayFor(modelItem => item.EndDate)</p>
                            <p>Address: @Html.DisplayFor(modelItem => item.Address)</p>
                        </div>
                    </a>
                    
                }
            }
        </div>
    </div>
    <div class="text-center mt-5 mx-5">
        <h3>Future Exhibits</h3>
        <div class="border overflow-hidden" style="display: flex;">
            @foreach (var item in Model.exhibitions)
            {
                if (!item.currentlyRunning)
                {

                    <div class="m-3 border">
                        <p>Starts: @Html.DisplayFor(modelItem => item.StartDate)</p>
                        <p>Ends: @Html.DisplayFor(modelItem => item.EndDate)</p>
                        <p>Address: @Html.DisplayFor(modelItem => item.Address)</p>
                    </div>
                }
            }
        </div>
    </div>


</div>
